<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:video" content="/file/{{ filename }}">
    <meta property="og:type" content="video.other">
    <link rel="stylesheet" href="{{ url_for('static', filename='clip.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="url-container">
        <h1 id="url" class="url"></h1>
    </div>
    <!-- Video block -->
    <video src="/file/{{ filename }}" class="main" controls>
        <source src="/file/{{ filename }}" type="video/*">
        Your browser does not support the video tag.
    </video>
    <script>
        document.getElementById("url").innerHTML = "Your URL is: <br><br><pre>" + document.location.href + "</pre>";
    </script>
</body>
</html>
